h1 {
    text-align: center;
}

.drums {
    max-width: 384px;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
}

.drum-wrap {
    flex: 0 0 33.33%;
    height: 128px;

    display: flex;
    align-items: center;
}

.drum {
    border: 2px solid black;
    margin: 0 auto;
    width: 96px;
    height: 96px;
    cursor: pointer;

    transition: 0.07s;

    display: flex;
    flex-flow: column nowrap;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.playing {
    border: 3px solid orange;
    transform: scale(1.1);
}

.drum > * {
    text-align: center;
    flex: 1
}

.drum > *:nth-child(1) {
    font-size: 56px;
    flex: 2;
}

@media (min-width: 1152px) {
    .drums {
        max-width: 1152px;;
    }

    .drum-wrap {
        flex: 1;
    }
}
