h1 {
    text-align: center;
}

.drums {
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    flex-flow: row wrap;
}

.drum-wrap {
    padding-bottom: 32px;
    flex-basis: 33.33%;
}

.drum {
    border: 1px solid black;
    margin: 0 auto;
    width: 64px;
    height: 64px;
    cursor: pointer;

    display: flex;
    flex-flow: column nowrap;
}

span {
    text-align: center;
}

span:nth-child(1) {
    font-size: 36px;
}

@media (min-width: 700px) {
    .drums {
        flex-flow: row nowrap;
    }

    .drum-wrap {
        flex: 1;
    }
}
